{% extends "base.html" %}
{% block content %}
<main class="page page-profile">

  <section class="welcome">
    <h1>{{ get_text("welcome_back") }} {{user.user_name}} {{user.user_last_name}}!</h1>
    
  </section>

  <section class="cta">
    <a href="{{ url_for('add_item', lang=lang) }}"
       class="btn btn-primary">
      {{ get_text("create_market") }}
    </a>
  </section>

  <section class="my-markets">
    <h2>{{ get_text("your_markets") }}</h2>

    {% if user_items %}
      <div class="market-grid">
        {% for m in user_items %}
          <div class="market-card">
            <img src="{{ url_for('static', filename='uploads/' ~ m.first_image) }}"
                 alt="{{ m.item_name }}" class="market-img">
            <div class="market-info">
              <h3>{{ m.item_name }}</h3>
              <p class="market-status {{ m.item_status }}">
                {{ get_text(m.item_status) }}
              </p>
            </div>
            <div class="market-actions">
              <a href="{{ url_for('edit_item', lang=session.lang, pk=m.item_pk) }}"
              class="btn btn-secondary small">
             {{ get_text("edit") }}
           </a>
              <form action="{{ url_for('admin_delete_item', lang=lang, pk=m.item_pk) }}"
                    method="POST" class="inline-form"
                    onsubmit="return confirm('{{ get_text("confirm_delete") }}');">
                <button type="submit" class="btn btn-danger small">
                  {{ get_text("delete") }}
                </button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="no-markets">{{ get_text("no_markets_yet") }}</p>
    {% endif %}
  </section>

</main>
{% endblock %}
