{% extends "base.html" %}

{% block content %}
<main>
  <h1>{{ get_text("login") }}</h1>
  {% for cat, msg in get_flashed_messages(with_categories=true) %}
  <div class="{{ cat }}">{{ msg }}</div>
{% endfor %}

  {% if error_message %}
  <div class="error">{{ error_message }}</div>
  {% endif %}

  <form class="login-form" method="POST">
    <div>
      <label for="user_email">{{ get_text("email") }}</label>
      <input type="email" name="user_email" id="user_email" required>
    </div>

    <div>
      <label for="user_password">{{ get_text("password") }}</label>
      <input type="password" name="user_password" id="user_password" required>
    </div>

    <button type="submit">{{ get_text("login") }}</button>
  </form>
  <p class="form-note">
    <a href="{{ url_for('forgot_password', lang=lang) }}">
      {{ get_text("forgot_password") }}
    </a>
  </p>
  
  
</main>
{% endblock %}