{% extends "base.html" %}
{% block content %}
<main>
  <h1>{{ get_text("forgot_password") }}</h1>
  {% for cat,msg in get_flashed_messages(with_categories=true) %}
    <div class="{{ cat }}">{{ msg }}</div>
  {% endfor %}
  <form action="{{ url_for('send_reset', lang=lang) }}" method="POST">
    <label for="user_email">{{ get_text("email") }}</label>
    <input id="user_email" name="user_email" type="email" required>
    <button type="submit">{{ get_text("send_reset") }}</button>
  </form>
</main>
{% endblock %}
